@import 'fonts';

// colors
$white: #ffffff;
$main-color: #262b22;
$color-grey: #eff2f8;
$grey-main: #828ba2;
$color-blue: #1a91f1;
$color-green: #005555;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
