@import 'fonts';

// colors
$white: #ffffff;
$main-color: #262b22;
$color-grey: #eff2f8;
$grey-main: #828ba2;
$color-blue: #1a91f1;
$color-green: #38B000;
$color-red: #FF0000;
$color-orange: #FF8700;
$color-yellow: #FFD300;
$color-violet: #7209B7;
$color-brown: #7F5539;
$color-dark-grey: #495057;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
